body {
  background-image: linear-gradient(
    135deg,
    rgb(152, 120, 102) 0%,
    rgb(54, 45, 55) 100%
  );
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.header-location {
  position: fixed;
  top: 41%;
  right: 4%;
}

ul,
li {
  font-size: 0;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.wrapper {
  position: relative;
}

.main-text {
  width: 80vw;
  padding: 3rem;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(45, 45, 45, 0.6);
}

.nav-circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 1rem 0;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

.nav-arrow-wrap {
  display: none;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

article {
  width: 80vw;
  margin: auto;
  padding: 5rem 0;
}

article > h1 {
  margin-bottom: 2rem;
  color: white;
}

.title-area {
  float: left;
  width: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: right;
}

.content-area {
  float: left;
  width: 75%;
  margin-top: 2rem;
}
.onepage {
  width: 100vw;
  height: 100vh;
}

.i-down-arrow {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 639px) {
  html {
    font-size: 80%;
  }

  .header-location {
    display: none;
  }

  .nav-arrow-wrap {
    display: block;
  }

  .title-area {
    float: none;
    width: 100%;
    text-align: center;
  }

  .content-area {
    float: none;
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: 87.5%;
  }

  .header-location {
    display: none;
  }

  .nav-arrow-wrap {
    display: block;
  }
}
